#!/bin/bash
set -e

NAME=des-dsr-linkcache
CONFIGFILE=/etc/default/$NAME
DEFAULT_TAP_IP=10.0.0.1
DEFAULT_TAP_NETMASK=255.255.0.0
DEFAULT_TAP_NAME=tap0
DEFAULT_PORT=4519
DEFAULT_PID=/var/run/$NAME.pid
DEFAULT_IFACE=eth0
DEFAULT_LOGFILE=/var/log/$NAME.log
PATH=$PATH:.

if [ -e confmodule ]; then
    . confmodule
else
    . /usr/share/debconf/confmodule
fi

# we need better validation in future releases
validate_ip_addr() {
    ip=$1
    retval=1

    if [[ $ip =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
        OIFS=$IFS
        IFS='.'
        octets=($ip)
        IFS=$OIFS
        [[ ${octets[0]} -le 255 \
        && ${octets[1]} -le 255 \
        && ${octets[2]} -le 255 \
        && ${octets[3]} -le 255 ]]
        retval=$?
    fi
    return $retval
}

case "$1" in
	reconfigure)
		if [ -e $CONFIGFILE ]; then
			. $CONFIGFILE || true
		    db_set des-dsr-linkcache/tap-ip $TAP_IP
		    db_set des-dsr-linkcache/tap-netmask $TAP_NETMASK
		    db_set des-dsr-linkcache/tap-name $TAP_NAME
		    db_set des-dsr-linkcache/cli-port $CLI_PORT
		    db_set des-dsr-linkcache/pid-file $PIDFILE
		    db_set des-dsr-linkcache/log-file $LOGFILE
		    db_set des-dsr-linkcache/iface $IFACE
		fi
	;;
	*)
	;;
esac


### start asking questions ###

db_settitle des-dsr-linkcache/title

#### TAP interface name ####
db_input high des-dsr-linkcache/tap-name || true
db_go
db_get des-dsr-linkcache/tap-name
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/tap-name-default || true
    db_set des-dsr-linkcache/tap-name "$DEFAULT_TAP_NAME"
    db_go
fi

#### TAP interface address ####
loop=1
while [ $loop -eq 1 ]; do
    db_input high des-dsr-linkcache/tap-ip || true
    db_go
    db_get des-dsr-linkcache/tap-ip
    if [ "$RET" = "" ]; then
        db_input high des-dsr-linkcache/tap-ip-default || true
        db_go
        db_set des-dsr-linkcache/tap-ip "$DEFAULT_TAP_IP"
        break
    fi

    ! validate_ip_addr "$RET"
    retval=${PIPESTATUS[0]}
    if [ ! $IGNORE_INVALID_IP ] && [ $retval -eq 1 ]; then
        db_input high des-dsr-linkcache/tap-ip-invalid || true
        db_fset des-dsr-linkcache/tap-ip "seen" "false"
    else
        break
    fi
done

### TODO we need to check for valid netmasks
db_input high des-dsr-linkcache/tap-netmask || true
db_go
db_get des-dsr-linkcache/tap-netmask
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/tap-netmask-default || true
    db_set des-dsr-linkcache/tap-netmask "$DEFAULT_TAP_NETMASK"
    db_go
fi

#### Command Line Interface ####
db_input high des-dsr-linkcache/cli-port || true
db_go
db_get des-dsr-linkcache/cli-port
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/cli-port-default || true
    db_set des-dsr-linkcache/cli-port "$DEFAULT_PORT"
    db_go
fi

#### Mesh Interface(-s) ####
db_input high des-dsr-linkcache/iface || true
db_go
db_get des-dsr-linkcache/iface
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/iface-default || true
    db_set des-dsr-linkcache/iface "$DEFAULT_IFACE"
    db_go
fi

#### PID File ####
db_input high des-dsr-linkcache/pid-file || true
db_go
db_get des-dsr-linkcache/pid-file
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/pid-file-default || true
    db_set des-dsr-linkcache/pid-file "$DEFAULT_PID"
    db_go
fi

#### Log File ####
db_input high des-dsr-linkcache/log-file || true
db_go
db_get des-dsr-linkcache/log-file
if [ "$RET" = "" ]; then
    db_input high des-dsr-linkcache/log-file-default || true
    db_set des-dsr-linkcache/log-file "$DEFAULT_LOGFILE"
    db_go
fi

