Source: des-namtab
Section: net
Priority: extra
Maintainer: Bastian Blywis <blywis@inf.fu-berlin.de>
Uploaders: Wladimir Degtjarew <wdegtjarew@googlemail.com>
Build-Depends: debhelper (>= 7), po-debconf, docbook-to-man, libdessert1-dev, uthash-dev
Standards-Version: 3.9.1
Homepage: http://www.des-testbed.net/

Package: des-namtab
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Modification of the B.A.T.M.A.N. routing protocol
 N.A.M.T.A.B. is B.A.T.M.A.N. spelled backwards. The name is inspired by the
 modification that is implemented by the des-namtab daemon. In the B.A.T.M.A.N.
 protocol, the link quality is determined based on OGMs flooded from all nodes
 but data packets travel in the opposite direction. N.A.M.T.A.B. reverses the
 link quality estimation. Nodes broadcast their measured link qualities to
 their neighbors so that these can select the best next hop.

Package: des-namtab-dbg
Architecture: any
Section: debug
Depends: des-namtab (= ${binary:Version}), ${misc:Depends}
Description: Modification of the B.A.T.M.A.N. routing protocol (debugging symbols)
 Debugging symbols for the B.A.T.M.A.N. routing daemon based on the DES-SERT
 routing framework. You only need this package to debug des-namtab, e.g.,
 when a segmentation fault is encountered.
