Source: des-lsr
Section: net
Priority: extra
Maintainer: Bastian Blywis <blywis@inf.fu-berlin.de>
Build-Depends: debhelper (>= 7), po-debconf, docbook-to-man, libdessert1-dev, uthash-dev
Standards-Version: 3.8.4
Homepage: http://www.des-testbed.net/des-sert

Package: des-lsr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Link State Routing Protocol Daemon
 Link State Routing Protocol (LSR) daemon protocol.
 The daemon is implemented with the Distributed Embedded Systems
 Simple and Extensible Routing Framework for Testbeds (DES-SERT)
 .
 This package contains the routing daemon.

Package: des-lsr-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, des-lsr (= ${binary:Version})
Description: Link State Routing Protocol Daemom (debugging symbols)
 Link State Routing Protocol (LSR) daemon protocol.
 The daemon is implemented with the Distributed Embedded Systems
 Simple and Extensible Routing Framework for Testbeds (DES-SERT)
 .
 This package contains the debugging symbols.


