#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE)
	docbook-to-man debian/des-lsr.sgml > debian/des-lsr.1
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f debian/des-lsr.1
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/des-lsr.
	$(MAKE) PREFIX=$(CURDIR)/debian/des-lsr install


# Build architecture-independent files here.
binary-indep: install
	#install -m644 $(CURDIR)/dessert-ext-ara.lua $(CURDIR)/debian/des-lsr-dissectors/usr/share/wireshark

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_install
	dh_installdebconf
	dh_installman
	dh_link
	dh_strip --dbg-package=des-lsr-dbg
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
