Source: des-gossip-adv
Section: net
Priority: extra
Maintainer: Bastian Blywis <blywis@inf.fu-berlin.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://wwww.des-testbed.net

Package: des-gossip-adv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dessert-tools (>= 0.3)
Description: Advanced gossip routing based on DES-SERT
 Advanced gossip routing implementation based on the
 Distributed Embedded Systems Simple and Extensible Routing Framework.
 In contrast to des-gossip it supports TTL and has a simple loop
 detection based on sequence numbers.
